*.pdf
*.mp4
CDQ2-46 Git By Example/Udemy-Repository/
CDQ2-43 DevOps Deployment Automation with Terraform AWS and Docker/
CDQ2-45 Docker Masterclass for Machine Learning and Data Science/
CDQ2-46 Git By Example/Udemy-Repository/.git*
CDQ2-43 DevOps Deployment Automation with Terraform AWS and Docker/

CDQ2-47 Vagrant Up! Comprehensive development system automation/multi-vms/
CDQ2-47 Vagrant Up! Comprehensive development system automation/demo/
CDQ2-47 Vagrant Up! Comprehensive development system automation/